Source: siparmyknife
Section: utils
Priority: extra
Maintainer: Devon Kearns <dookie@kali.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: http://packetstormsecurity.com/files/107301/SIP-Army-Knife-Fuzzer-11232011.html
Vcs-Git: ssh://git@git.kali.org/packages/siparmyknife.git
Vcs-Browser: http://git.kali.org/gitweb/?p=packages/siparmyknife.git;a=summary

Package: siparmyknife
Architecture: all
Depends: ${misc:Depends}, perl, libsocket-perl, libio-socket-ip-perl, libdigest-md4-perl, libdigest-crc-perl
Description: SIP fuzzing tool
 SIP Army Knife is a fuzzer that searches for cross site 
 scripting, SQL injection, log injection, format strings, 
 buffer overflows, and more.
